<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.framgia.hrm_10"
    android:versionCode="7"
    android:versionName="1.7">

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.home.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.showstaffdepartment.ListDepartmentStaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.editstaffdepartment.StaffActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.editstaffdepartment.DepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.search.SearchStaffActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>
</manifest>